/* screen.css: Screen Styles */
div#page {
  padding-top: 1px;
  width: 960px;
  margin: 0px auto;
  position: relative;
}
div#header { margin-top: 99px; }
div#header,
div#footer {
  background-color: black;
  color: white;
  padding: 50px;
}
div#content { background-color: #DDD; }
ul#navigation {
  background-color: red;
}
ul#navigation a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
}
ul#navigation a:hover {
  background-color: black;
}
ul.accessibility {
  position: absolute;
  left: -20000px;
}
ul#navigation {
  position: absolute;
  top: 0px;
  left: 0px;
}
ul#navigation li { 
  width: 240px; 
  float: left;
}
div#content {
}

