/* screen.css: Screen Styles */
div#page {
  width: 960px;
  margin: 0px auto;
  position: relative;
}
div#header,
div#footer {
  background-color: black;
  color: white;
  padding: 50px;
}
div#content { background-color: #DDD; }
ul#navigation {
  background-color: red;
}
ul#navigation a {
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 50px;
}
ul#navigation a:hover {
  background-color: black;
}
ul.accessibility {
  position: absolute;
  left: -20000px;
}
ul#navigation {
  position: absolute;
  width: 200px;
  top: 185px;
  right: 0px;
}

div#content {
  margin-right: 250px;
}

